ul {
list-style: none;
margin: 0;
padding: 0;
}

li{
padding: 5em;
background-color: #CACACC;
transition: .2s;
}

li:hover {
background: #ddd;
}

img {
display: block; margin: auto;
max-width: 50%; border-radius: 50%;
display: block;
opacity: 0.4;
}

a.button {
color: #444545;
text-decoration: none;
background: #1CB9FC;
color: white;
padding: .5em;
border-radius: 1em;
display: block;
text-align: center;
font-size: 1.1em;
transition: all .5s linear;
    

}

a.button:hover {
background: #5DCDFC;
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

img:hover {
opacity: 100;
transition: 1s;
-webkit-animation: bounce 1.8s;
}